footer {
    background-color: white; /* white  background */
    color: black; /* Text color */
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC; /* Top border */
    display: flex; /* Flexbox for alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: absolute;
    bottom: 0;
}
